[2015-04-21 13:05] christickner opened #1 "User profiles"
some profile information, including:
- tagging myself with subjects I want to learn / teach
- seeking: a mentor, an apprentice, or both
- status: active / not active (actively seeking mentor/apprentice, to show up in a search or not)

[2015-04-21 13:07] christickner opened #2 "Searching"
ability to search for a mentor or apprentice
- should have a big toggle button to switch between searching an apprentice or mentor
- ability to filter by tags, hopefully some sort of auto complete here (maybe even just display the tags as checkboxes and use some JS to allow to select multiple)

[2015-04-21 13:08] christickner opened #3 "Messaging"
Private messaging, as described here: https://github.com/phpmentoring/testapp/wiki

[2015-04-21 13:09] christickner opened #4 "Pairs Page"
Ability to list pairs on a page.

With this is the ability for a mentor to select a user as their apprentice, this would make the pair show up.

[2015-04-21 13:09] christickner commented on #1
I'll start on this issue this week

[2015-05-19 00:55] taion809 opened #6 "Required text field on #profile_mentorTags"
The text input field #profile_mentorTags is set to be required even when #profile_isMentor is unchecked.

[2015-05-19 03:42] christickner opened #7 "Empty string should not be a tag"
We need to prevent empty strings from being saved as taxonomyTerms.

Steps I did, with an empty db:
1. Sign up
2. Goto edit profile
3. check "I want to be a mentor" and type in mentor tags
4. leave apprentice tags blank
5. Save

The "taxonomyTerms" table now contains an apprentice term that is blank.

[2015-05-20 02:31] christickner commented on #3
Coming along. All the core functionality is there now. I want to add some basic markdown features and some syntax highlighting before making a PR.

[2015-05-20 02:32] christickner commented on #1
We're most of the way there on this one. I think we're just missing the "status" (active/not-active), which should be reflected in search.

[2015-05-22 01:32] RileyMajor commented on #4
The underlying link table is created in [pull request 9](https://github.com/phpmentoring/testapp/pull/9).

[2015-05-22 01:33] RileyMajor opened #10 "Hamburger menu inoperative"
The hamburger menu appears at lower page widths, but nothing happens when you click on it.

[2015-05-22 02:59] RileyMajor commented on #10
This could have something to do with these missing javascript files:

[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (bootstrap.min.js, line 0)
[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (modernizr-2.8.3-respond-1.4.2.min.js, line 0)

[2015-05-23 12:40] dragonmantank opened #15 "Mardown support in Messaging"
It would be nice to put Markdown support in messaging, especially for when passing back and forth more complicated documents

[2015-05-23 12:41] dragonmantank opened #16 "Syntax Highlighting in Messages"
Makes code easier to read if mentors/apprentices are passing that back and forth

[2015-05-23 12:41] dragonmantank commented on #3
Closing this one, added two new issues for features on markdown and highlighting

[2015-05-23 12:41] #3 closed, assigned to nobody

[2015-05-23 12:42] dragonmantank commented on #1
These are all set, so closing

[2015-05-23 12:42] #1 closed, assigned to christickner

[2015-05-24 01:23] dragonmantank commented on #10
This was due to the 404s. Corrected with 61667e977474afe6bbecfc7ceab48b7ea9cff8c8

[2015-05-24 01:23] #10 closed, assigned to nobody

[2015-05-24 03:52] christickner opened #18 "migration issue"
I just did a fresh install on the new VM config.... and I got:

"SQLSTATE[42S22]: Column not found: 1054 Unknown column 'imageUrl' in 'field list'"

I don't see a migration for the profile image stuff

[2015-05-24 14:58] dragonmantank commented on #18
Which page did you see it on? We added an imageUrl field that is generated from a github URL so we don't store it, so obviously we don't want to store it in the DB.

[2015-05-24 16:47] #18 closed, assigned to nobody

[2015-05-24 19:07] dragonmantank opened #20 "Add Geographical filtering"
Be able to filter people by geographical location

[2015-05-24 19:08] dragonmantank opened #21 "Filter by User Group"
Be able to filter people by the User Groups they attend

[2015-05-24 22:00] christickner commented on #16
Started this here (https://github.com/phpmentoring/testapp/commit/8cb6bb3b93e0d18234251f9840e2d7d40a9d6720) - just need to do some work on the editor:
1. I propose we have tabs like github for "Edit" and "Preview"
2. Clicking the tab uses ajax to get the preview from the server and display it

Markdown and syntax highlighting both work on the profile page, too, for users, so we'll have to edit the

[2015-05-24 22:00] christickner commented on #15
Started this here (https://github.com/phpmentoring/testapp/commit/8cb6bb3b93e0d18234251f9840e2d7d40a9d6720) - just need to do some work on the editor:
1. I propose we have tabs like github for "Edit" and "Preview"
2. Clicking the tab uses ajax to get the preview from the server and display it

Markdown and syntax highlighting both work on the profile page, too, for users, so we'll have to edit the

[2015-05-27 16:21] dragonmantank opened #22 "Basic Blogging Functionality"
Be able to add posts and such in a blog-like fashion.

[2015-05-27 22:09] asgrim opened #23 "Requested GitHub permissions too greedy"
Despite the [AuthController](https://github.com/phpmentoring/testapp/blob/master/src/Mentoring/Controller/AuthController.php#L28) only requesting `['user', 'user:email']` scopes, it seems the permissions phpmentoring is asking for is a little greedy when it comes to organisations, example:

![4a7ec9](https://cloud.githubusercontent.com/assets/496145/7848574/f68712e2-04c4-11e5-8fd0-a88ddbfffa48.png

[2015-05-27 22:10] asgrim commented on #23
FWIW I don't know if it's worth asking whoever the maintainer for https://github.com/thephpleague/oauth2-github is to see if there is an option to turn on/off somewhere?

[2015-05-27 22:34] dragonmantank commented on #23
Part of it is Github having crappy wording - when we did ask for organization permissions it was read only, but Github doesn't really specify that. We took that out though.

I think the issue is that asking for more than just public information exposes some of the organization info, and then the wording for Github kicks in saying each organization can specify the access.

This is an issue with the

[2015-05-28 08:00] asgrim commented on #23
Looks like 92348c8 does fix this :)

[2015-05-28 08:03] asgrim opened #26 "Profile images are huge"
![image-huge](https://cloud.githubusercontent.com/assets/496145/7855299/48b2cad6-0518-11e5-92f8-9cc2aae29746.png)

I'm using Chrome 43.0.2357.81 (64-bit) on Ubuntu 15.04.

[2015-05-28 13:24] dragonmantank commented on #23
Great. Closing!

[2015-05-28 13:24] #23 closed, assigned to nobody

[2015-05-28 20:03] dragonmantank opened #27 "Visual Refresh"
Make the site not look ugly.

[2015-06-13 18:37] dragonmantank commented on #6
Fixed with 410e96c

[2015-06-13 18:37] #6 closed, assigned to nobody

[2015-06-13 18:38] dragonmantank commented on #7
Fixed with 410e96c

[2015-06-13 18:38] #7 closed, assigned to nobody

[2015-06-14 01:02] christickner commented on #15
Should be resolved here: https://github.com/phpmentoring/webapp/pull/29

[2015-06-14 01:02] christickner commented on #16
should be resolved here: https://github.com/phpmentoring/webapp/pull/29

[2015-06-14 22:16] christickner commented on #26
thanks for reporting this @asgrim  !

Should be fixed in 456ad46aa7ace606506759167c514fdd4f71b448

[2015-06-14 22:16] #26 closed, assigned to nobody

[2015-06-15 14:20] ericnkatz commented on #27
Hi, I'm Eric!

I started work on this, this past weekend pulling in some colors form the main php.net site like purples/dark gray. I removed bootstrap and am now wondering if there was a specific reason for the Angular or if I could switch to some other front end JS framework.

I know I'm being kind of vague about this but I'll update my fork once I get the navigation set up and open it up for fee

[2015-06-15 14:28] dragonmantank commented on #27
I only picked Angular because it was the one I tend to use the most, and we can scale it up or down depending on the need, such as having small widgets like the search pages, or full-blown mini-SPAs for different sections.

If you're thinking about swapping the JS frameworks, I'd do that in a separate branch from the visual refresh, as I'm sure there will be some back-and-forth from people that I

[2015-06-18 15:40] ericnkatz commented on #27
@dragonmantank sounds good to me. This is where I'm at right now for full width basic content pages: http://codepen.io/ericnkatz/full/a3cad612b08d8755a5f26328107f57de/  I have an update in progress for homepage that includes a larger hero image and placeholder for like `find a mentor` or `become a mentor` blocks.

Still need to tweak some footer pieces and add some user interaction, but what are y

[2015-06-18 15:53] dragonmantank commented on #27
So far I think it looks great! Thank you!

Having a CTA on the find/become on the homepage would be a big plus, since that's the main purpose of the site. The content on the page looks and reads well to me, which is good because down the road we'll be adding more flat content, in addition to the searching.

[2015-06-18 22:19] christickner commented on #27
:+1: nice, thanks @ericnkatz !

[2015-06-19 18:05] #15 closed, assigned to nobody

[2015-06-23 04:08] #16 closed, assigned to nobody

[2015-06-25 03:32] kylestev commented on #27
looks nice! :+1:

[2015-06-25 15:14] christickner opened #30 "github "fork me" banner blocks login nav"
This may change in future designs, but at the moment the login button on the far right of the top bar can be completely blocked by the github banner.

![image](https://cloud.githubusercontent.com/assets/501390/8357895/5738869e-1b2b-11e5-8182-1bbf6ee25271.png)

[2015-06-25 15:15] christickner opened #31 "Email notifications"
Private messages work, but there is no mechanism at the moment to notify people if they have a message to read.

We should add a mailer that will dispatch an email notification to the recipient of a private message.

EDIT: Code for this is a PR #35 now.

[2015-07-06 04:09] jmichaelward opened #32 "Mentors page lists tags for Apprentices"
If a user selects to be a Mentor, the system will currently attempt to list any tags that user has entered for the Apprentice role (displaying empty markup if no Apprentice tags were entered, or displaying the term tags for Apprentice if any are found).

Line 25 of the mentors.twig file attempts to iterate through tag in mentor.apprenticeTags. This should be updated to mentor.mentorTags. I uploade

[2015-07-06 04:29] jmichaelward opened #33 "Ability to make requests to "Be My Mentor" and "Be My Apprentice""
I don't see this listed among the open or closed issues, so I wanted to document it here for posterity.

@dragonmantank mentioned in IRC that he wants to add the ability for an Apprentice to request someone to be their Mentor, and conversely, for a Mentor to request someone to be their Apprentice.

Based on what I've seen in the codebase thus far, we'll need to add a migration to store data about

[2015-07-06 15:34] dragonmantank commented on #33
1. I think it should generate a new conversation. Worse case they won't use it, but I completely see the use case where an apprentice hasn't talked with the mentor before, so a new conversation of like "X wants to be your apprentice/mentor" would be appropriate.
2. That makes sense. When they click the request button, have them enter a message and that will just be the initial conversation message

[2015-07-06 15:35] dragonmantank commented on #32
We're keeping Angular, so go ahead and submit a PR for this.

[2015-07-06 15:46] jmichaelward commented on #32
Perfect. Submitted.

[2015-07-07 03:26] dragonmantank commented on #32
Closing. Fixed with b34e6e7dba1cf723c98b13090a0752441b3fe649

[2015-07-07 03:26] #32 closed, assigned to nobody

[2015-07-10 21:52] ericnkatz commented on #27
Publishing my changes/ next revision this weekend. Sorry for the delay. :)

[2015-07-11 03:50] dragonmantank commented on #27
Great, looking forward to it. Thank you for all the hard work!

[2015-07-20 00:39] martarf commented on #20
I'm starting to work on this issue (unless someone already started with it) and I have some questions about it:
1. The user's profile form will have new inputs for their country/state/city info
2. In order to do that, we need new fields in the users table with country_id, state_id and city and new tables with the possible country/states
3. Next to the tags-filter a "Location"-filter will be added

[2015-07-27 15:25] dragonmantank opened #37 "Call for Concerns about Launching without Apprentice Searching/Matching"
On the #phpmentoring, it was brought up to possibly launch this without the need for searching apprentices, or having an official matching of Apprentices and Mentors. This is functionality that can be added at a later time, but there is a larger need to get this out to make it easier for apprentices to find mentors, especially considering the state of the wiki.

I'm putting up a vote for releasing

[2015-07-27 15:28] manchuck commented on #37
2015-07-30 16:00 UTC (4pm eastern) is not 4PM eastern

[2015-07-27 15:29] dragonmantank commented on #37
@manchuck hush, I fixed it!

[2015-07-27 15:35] akrabat commented on #37
FWiW, I'm in favour of releasing as described above.

[2015-07-27 15:40] GeeH commented on #37
:+1:

[2015-07-27 15:50] auroraeosrose commented on #37
SHIP IT :ship:

[2015-07-27 15:51] christickner commented on #37
I think we should merge #35 so people can be notified when they get a message. After that I am :+1:

[2015-07-27 15:55] dragonmantank commented on #37
@christickner I thought I merged that, I'll get that in today.

[2015-07-27 16:11] tristanbailey commented on #30
Would you mind me implementing this css only version of this, image. Advantage being, apart from no image to load, that the css allows you to click in the "space around it", so you could click on the login or the mobile menu.

http://simonwhitaker.github.io/github-fork-ribbon-css/

[2015-07-27 16:15] dragonmantank opened #38 "Remove supervisord from vagrant"
This just errors out, and since we don't use supervisord, we can just remove it.

[2015-07-27 16:21] tristanbailey commented on #30
I have been developing websites for 13+ years and worked though companies to Senior Dev. Middle/Backend developer and full stack team lead (PHP, MySQL, [Laravel, Slim, Joomla, EE, WP, Magento], DevOps, Agile). Moved to Freelance Developer about 4 years ago, and work with agencies and clients, on medium to large travel and eCommerce sites. When writing fresh projects I use Laravel or SlimPHP but of

[2015-07-27 16:23] dragonmantank commented on #30
Nope, feel free! I'm also open to moving it to a different corner.

[2015-07-27 16:33] tristanbailey commented on #30
Added the PR here: https://github.com/phpmentoring/webapp/pull/39

[2015-07-28 13:02] #31 closed, assigned to nobody

[2015-07-29 12:29] tristanbailey commented on #37
Ship it. I just got a mentee request from the Dev site. (Might be because all the quality candidates put in test bios)

[2015-07-29 15:41] dragonmantank commented on #27
@ericnkatz Just wanted to follow up on this. We're hoping to go live sometime this weekend. If it still needs some polishing that's cool, we'll merge in your changes whenever you are ready.

[2015-07-31 03:36] ericnkatz commented on #27
@dragonmantank on it, going to re-pull your changes and merge my styles/markup.

[2015-07-31 19:15] dragonmantank commented on #37
Overwhelming vote is "Ship it", so that's what we'll be doing!

Thanks everyone!

[2015-07-31 19:15] #37 closed, assigned to nobody

[2015-08-08 22:25] christickner opened #43 "send email notifications by default"
#35 allows you to recieve an email notificaiton if you get a message, but you have to opt in to this because it is turned off by default.

I think we'd be better off with a default ON, and you'd need to opt-out.

What do you all think?

[2015-08-13 04:14] dragonmantank commented on #43
I'm fine with it being opt-out, it makes sense that people don't want to check the site every day

[2015-08-14 02:20] lynxtdc opened #44 "Receiving SwiftMail Error when trying to submit message to potential mentor"
Using the new app.phpmentoring.com site I tried to send a message to a potential mentor and received the following error:

Swift_TransportException in StreamBuffer.php line 265:
Connection could not be established with host localhost [Connection refused #111]
in StreamBuffer.php line 265
at Swift_Transport_StreamBuffer->_establishSocketConnection() in StreamBuffer.php line 62
at Swift_Transport_St

[2015-08-14 02:46] dragonmantank commented on #44
It helps if we install a mail server on that box, which I did.

Feel free to give this another shot, I'll leave this open in case anything else pops up.

[2015-08-14 02:47] dragonmantank commented on #30
This is all finished and #39 was merged in. Closing!

[2015-08-14 02:47] #30 closed, assigned to nobody

[2015-08-14 14:53] jmichaelward opened #45 "Mentor tags flow into content on 'Search Mentors' page"
I think @elazar fixed this issue on the individual mentor pages already, by breaking up the tags and keeping them within the flow of content. We need to apply these same styles to the 'Search Mentors' page.

Example screenshot attached.

<img width="1163" alt="screen shot 2015-08-14 at 9 53 16 am" src="https://cloud.githubusercontent.com/assets/1407326/9276556/52f7e032-426a-11e5-9020-07f2137fd5f9.

[2015-08-14 14:54] elazar commented on #45
Yup. See #42.

[2015-08-15 09:49] tdutrion opened #46 "Mail notification as spam (Google Apps for business)"
I just had a notification this night, and the email went straight to my spam folder on Gmail (Google Apps for business account).

![phpmentoring-spam](https://cloud.githubusercontent.com/assets/1712222/9288337/959c3daa-4339-11e5-9878-9512c0d7386b.png)

Here is the link from the yellow notification: [Google support: why is this message in spam](https://support.google.com/mail/answer/1366858?hl=en-G

[2015-08-16 04:00] nickescobedo opened #48 "Filter Mentors By Multiple Tags"

[2015-08-22 16:38] christickner commented on #43
I've made it such that new registrations will have notifications turned on by default .However there are dozens of accounts on the site already, and it's likely many of them didn't get a chance to see the setting. I think we should do a one-time DB update to turn notifications to "on" for everyone, and they can login to opt out if necessary.  I think overall most poeple will want this enabled anyw

[2015-08-22 17:08] christickner commented on #45
This should now be fixed and will be included in our next update https://github.com/phpmentoring/webapp/commit/6e5b817192f6abf45f614d0ce0442bb41fbe1b9d

[2015-08-22 17:08] #45 closed, assigned to nobody

[2015-08-22 22:56] tdutrion commented on #27
Any update here?

If the current design upgrade is aborted, I could help with that by pulling in some Google Material Design or Twitter bootstrap but can't really provide more than that... I guess that would be modern enough.

[2015-08-22 23:05] tdutrion opened #51 "SSL connection"
I think the website connection should be secured with an SSL certificate, as people may be disclosing relatively private information on their lives in private messages and may be doing that from work if their bosses are aware of the advantages of being mentored.

I can provide a [Comodo Positive SSL for 3 years from Namecheap](https://www.namecheap.com/security/ssl-certificates/comodo/positivessl.

[2015-09-02 05:40] heiglandreas opened #53 "Add github-username or github-URL to the API-information"
To get more information for a user from github it would be helpful to have the github-username available as the API-Endpoint for github to get user-infos is `https://api.github.com/user/[username]`.

It is possible to get that URL using the already in the API provided `githubUid` but that will then require first a call to `https://api.github.com/users?since=[githubUid-1]&per_page=1` which will the

[2015-09-02 05:43] heiglandreas opened #54 "consistent naming in the API"
Currently the naming of the returned keys is currently inconsistent camelCased **and** snake_cased (`imageUrl`, `isEnabled` opposed to `profile_markdown`).

wouldn't it be nicer to have that in one fashion?

[2015-09-02 05:59] heiglandreas opened #55 "Add geolocation to the user on editing the user-informations"
Currently no geolocation is set for a user.

To enable any kind of location-based feature it would be a great idea to directly have the geolocation (in form of latitude and longitude) as part of the users information.

On login it would be possible to check the github-API for the location of the user and pass that to nominatim (`http://nominatim.openstreetmap.org/search?format=json&q=[url_encoded

[2015-09-02 14:45] ericnkatz commented on #27
This is what I have right now: https://github.com/ericnkatz/phpmentoring/tree/frontend

[2015-09-03 14:53] dragonmantank commented on #27
It looks great. Feel free to send over a PR. I think there will be some merge conflicts, but we can get those ironed out.

[2015-09-15 10:01] heiglandreas opened #56 "Mentors that also apply for apprenticeship aren't included in the mentor-list"
The mentors-list that can be retrieved via http://app.phpmentoring.org/api/v0/mentors does not include those mentors that also applied as mentees.

[2015-09-16 18:29] dragonmantank commented on #56
Can you give me some specific examples?

On my account, I tested the following:
- Only 'I want to be a mentor' selected - Showed up in list
- Both 'I want to be a mentor' and 'I want to be an apprentice' selected - Showed up in list
- Only 'I want to be an apprentice' selected - Did not show up
- Both 'I want to be a mentor' and 'I want to be an apprentice' not selected - Did not show up

[2015-09-16 18:31] dragonmantank commented on #51
That would be a great addition. There's no specific reason to not run with SSL, so adding it is only a plus.

[2015-09-16 18:40] dragonmantank commented on #48
This was merged in and is live. Thanks!

[2015-09-16 18:40] #48 closed, assigned to nobody

[2015-09-16 19:15] heiglandreas commented on #56
Sorry, I can't reproduce it anymore. Forget about it. It seems to work as expected!

[2015-09-16 19:15] #56 closed, assigned to nobody

[2015-09-16 20:36] tdutrion commented on #51
Just bought a 3 years certificate for the project on namecheap. I will need you to provide the details required to configure it.

Can you add me on twitter so we can complete this by exchanging DMs (or any other means that suits you, I'm also on keybase.io and can invite you there).

[2015-09-20 20:42] christickner commented on #43
This has been merged. Thanks. Closing issue.

[2015-09-20 20:42] #43 closed, assigned to nobody

[2015-09-20 21:08] christickner commented on #51
Thanks @tdutrion ! This is great!

[2015-09-20 21:14] christickner commented on #54
This is now fixed here: 845fcb9d54e6c101cf32fe8fee54d80209dc5bc3

Thanks for reporting!

[2015-09-20 21:14] #54 closed, assigned to nobody

[2015-09-20 21:15] christickner commented on #27
@ericnkatz how is this going? Can you setup a PR? Thanks!

[2015-09-20 21:26] christickner commented on #46
DKIM might be useful to verify the emails are legit: http://blog.fastmail.com/2011/10/12/dkim-signing-outgoing-email-with-from-address-domain/

[2015-09-20 21:28] christickner commented on #44
Closing due to inactivity. I'm assuming that the mail server not being present was indeed the problem. @lynxtdc please re-open if you experience this again.

[2015-09-20 21:28] #44 closed, assigned to nobody

[2015-09-20 21:35] tdutrion commented on #46
Did anyone experienced the same problem? I fixed the typo in 21a90e8, and I guess I received all the notifications after that one, but I did unspam it...

Not sure whether it is still an issue, no one else complained... (or do people not look at their spam folder?)

[2015-09-23 12:52] zanbaldwin opened #58 "Gitter"
I'm putting forward a suggestion to use a [Gitter](https://gitter.im) chatroom for PHP Mentoring.

It's brilliant that there are over a hundred people on the IRC channel (126 as I'm writing this) but unfortunately it's not the easiest procotol to grasp, especially for beginners to PHP and programming (which is the whole purpose of this project).
While I support [some projects not using Gitter](htt

[2015-09-23 13:27] dragonmantank commented on #51
@tdutrion Followed you on Twitter :)

[2015-09-23 13:33] dragonmantank commented on #46
I know I sent a couple to Jeff Carouth after I added the SPF records to the DNS, and he responded fairly quickly. Looking at the postfix logs on the server it doesn't look like we're getting graylisted anymore either, so SPF seems to have handled it.

[2015-09-23 13:33] #46 closed, assigned to nobody

[2015-09-23 13:49] dragonmantank commented on #58
Personally from me, this is a -1.

Currently the IRC channel does facilitate apprentice-apprentice / mentor-mentor / mentor-apprentice discussion and help, as well as a safe social area on IRC, and has done so since the project started.

While I'm not against services such as Gitter or Slack or whatever in practice, it does cause a fragmentation of the community when there doesn't need to be one.

[2015-09-24 22:36] tdutrion commented on #51
[code]

I guess this issue has been solved then!

[2015-09-24 22:36] #51 closed, assigned to nobody

[2015-09-27 21:58] QuingKhaos opened #59 "Allow upload of avatars"
I don't know if my current avatar is fetched from GitHub or Gravatar, but it would be useful if I can upload a personal image, because my avatar (as you can see here on GitHub) is not really enough the represent me.

[2015-10-17 21:32] tdutrion commented on #4
Looks like the pull request #9 hasn't been merged... Any details on why it's been closed without merge?

I'm planning on contributing on this feature, any naming convention I should follow on the database schema?

[2015-10-17 21:37] dragonmantank commented on #4
Not sure, the author closed it himself.

[2015-10-17 21:37] tdutrion commented on #4
Sounds good then, I'll just take the code from there!

[2015-10-31 07:07] PurpleBooth opened #61 "The vagrantbox seems not to be working"
[code]

[code]

[code]

[2015-11-01 16:12] PurpleBooth opened #64 "(doc) Add a code of conduct"
[Contributor Covenant - a code of conduct for open source projects.](http://contributor-covenant.org/)

[2015-11-01 16:15] PurpleBooth commented on #55
I feel that this is partly addressed with my PR #63, the introduction of a user's preferred timezone at least allows you to identify users that will be awake at the same time as you.

[2015-11-01 16:20] PurpleBooth opened #65 "Add timezone based filtering"
It would be useful to identify mentors that are in the same timezone as you.

Arranging mentoring meetings can be tricky if neither of you are online at the same time. It would be better to be able to identify mentees and mentors that are within of a few hours of each other. This would ensure that you worked with people who are up at the same time as you.

I have added a PR (#63) that adds this in

[2015-11-01 18:12] heiglandreas commented on #55
As you say, it's only partially....

The timezone gives us the information on when a User (might) be awake. But it does not give us the information whether the user is near my own location or not, whether I might be able to talk to the user in my own language or not or might be able to have real face-to-face meetings. And it makes it way harder to put a pin onto a map to show where a user lives :w

[2015-11-01 20:18] Xethron opened #66 "Change order of "Search Mentors""
Going to ["Search Mentors"](http://app.phpmentoring.org/mentors), you get a list of all mentors, from the first registered up to the last.

The first few times I viewed the list, I read it from top down, and only did the first few. This means the first few members will always get the most exposure.

I think the list should be swapped around, starting with the newest members, or be randomized, so t

[2015-11-02 12:17] tdutrion commented on #66
There are two other features that are being developed and could be related: listing pairs and geolocation.

In this case, when both are developed and shipped, it would probably make sense to sort the paired mentors last, and bring near non-paired mentors on top. It would probably be better than just a random sort.

For now though, there are no sorting at all, so random sounds definitely better tha

[2015-11-05 05:07] dragonmantank commented on #66
I'm fine with randomizing the list, and would probably just randomize it in Angular so that once we get the JSON response back we scamble it up. That way each page load is different, but once the user starts subsetting the results they stay in the same order.

[2015-11-05 05:12] dragonmantank commented on #61
This is actually a problem with puphpet and newer installs of vagrant where the key doesn't get added correctly and isn't specific to our box. Vagrant now tries to detect the old insecure key, and for some reason with puphpet boxes it _always_ thinks the insecure key is there and messes up.

When this happens, you have to get the text from `puphpet/files/dot/ssh/id_rsa.pub` and add it to the `~/.s

[2015-11-05 07:57] PurpleBooth commented on #61
Can I recommend you move away from Puphpet? Their puppet files are a massive mess, and it doesn't do anything that you can't do in a few lines of bash.

Obviously if DevOps is outside your comfort zone I can see why you'd want to keep it, but I'd strongly recommend moving to something else.

I can submit a PR showing how to do that if you'd like (or even a few very simple ansible files if you don'

[2015-11-15 14:48] dragonmantank commented on #61
As long as we can get a good working PHP basebox to work with, I don't mind if we move away from puphpet. While I prefer puppet as a config management personally, we aren't using these puppet files on the deployment servers at all, so moving to Ansible or something else is fine with me. I haven't had time to replace the puphpet config files with a much simpler puppet config, as puphpet "works" mos

[2015-11-15 14:55] dragonmantank commented on #64
Closing as we merged in the CoC

[2015-11-15 14:55] #64 closed, assigned to nobody

[2016-01-12 15:34] Djuki opened #67 "Emails from app.phpmentoring.org are marked as Spam in Gmail"
Hi,

I just want to let you know that since November emails from http://app.phpmentoring.org/ ended up in my spam folder.

Before that i received emails from phpmentoring in my inbox. For some reason Gmail filter emails as spam. This is why I did not notice that My inbox had unread messages.

You can count unread messages as (one of) indicator how many people did not get notification emails.

[2016-01-18 14:52] jbafford opened #68 "View mentor page needs explanatory text for contacting mentors when not logged in"
When a user is not logged in, the mentor page doesn't give any indication as to how one goes about contacting the mentor. (The user needs to log into the site to get the contact form, but there's nothing to tell them to do that, or even that they _can_ contact mentors by logging in.)

[2016-02-06 11:05] tdutrion commented on #67
I reported the same issue #46 but at the time it seemed to have been fixed.

I also experienced the problem today, and here his the interesting part of the original message:

[code]

Looks like the SPF record has not been set according to [mxtoolbox](http://mxtoolbox.com/domain/app.phpmentoring.org/), maybe it has not been set when transitioning to Cloudflare.

[2016-04-09 20:41] dragonmantank commented on #65
Merged in the PR, so closing!

[2016-04-09 20:41] #65 closed, assigned to nobody

[2016-04-09 20:42] dragonmantank commented on #58
Been a while, so closing this.

[2016-04-09 20:42] #58 closed, assigned to nobody

[2016-04-11 13:24] auroraeosrose opened #69 "Long tags breaking layout and tagging data issues"
tagging has some issues:
we should
1. limit tag length (preferable since this is used for searching) or hard break them in the html displayed  Currently very long tags are not useful for searching and break the layout
2. autocomplete or help find existing tags for people to use - perhaps a list of common tags that we recommend or something? right now our tagging is not useful because of the comple

[2016-04-11 13:27] auroraeosrose opened #70 "Profile enhancements"
Right now profiles are just a freeform textbox - although this allows for a lot of flexibility it means that new people coming to the site don't realize what a well crafted profile should look like

After looking at the existing profiles the best ones
1. Have nicely formatted information for about me and what I work on including social media/email information, links to sites, etc.
2. If looking fo

[2016-04-11 13:30] auroraeosrose opened #71 "Design/Branding"
It would be great if we could get a designed logo and branding/colors designed just for phpmentoring

Something that would be instantly recognizable for our community and we could use for multiple purposes

Possibly we can get some of this as hired work by pooling some donations

[2016-04-11 13:32] auroraeosrose opened #72 "Help and Documentation"
Right now the site has very little in the way of documentation or help beyond giant text walls on the main page

We should probably break this information down into something a little more easily digestible

Also we should probably write some basic help documentation for the webapp itself and pop it up from ? buttons so people know what's going on

[2016-04-11 13:36] auroraeosrose opened #73 "Dev deploy of the application"
currently we apparently have a dev and prod version of the application (this is good)

however when visiting the dev application it's broken

Also we should document a bit more about the two

[2016-04-11 14:06] auroraeosrose opened #74 "Outsource our email"
use some kind of a third party service (sendgrid, SES, don't care) to keep us from having to tweak all the time to keep from being thrown into spam :(

[2016-04-11 14:44] matthewtrask commented on #70
Ill go ahead and take a shot at this.

[2016-04-11 22:40] svpernova09 opened #75 "Vagrant Not working / can't auth"
Tried all the usual fixes, couldn't get anything to work, vagrant is unusable for me.

Vagrant 1.7.4
VirtualBox 5.0.14 r105127

Vagrant up log:

[code]

[2016-04-11 22:43] dragonmantank commented on #75
I have a change incoming that switches to Scotchbox.

In the meantime, you can ssh into the box using vagrant as both the
username and password, and 127.0.0.1:2222

On Monday, April 11, 2016, Joe Ferguson notifications@github.com wrote:

##

Chris Tankersley
http://ctankersley.com

[2016-04-11 22:44] svpernova09 commented on #75
I can SSH with credentials, but unable to provision the box.

[2016-04-11 22:45] svpernova09 commented on #75
If you're going to switch to scotchbox why not Laravel's Homestead? Per project install was built exactly for this :D

[2016-04-12 11:09] auroraeosrose commented on #58
The other reason to prefer irc is we already have a mechanism in place for moderation and a set of people who take care of the irc channel - yet another communication mechanism would necessitate yet another team of users and we are already short on help for the project itself (infrastructure, the app, etc)

[2016-04-12 11:10] auroraeosrose commented on #67
This should be fixed when we move the application itself to a third party email provider (see #74)

[2016-04-12 14:47] dragonmantank commented on #75
The Scotchbox version is now in master. Any issues related to that can be new issues.

[2016-04-12 14:47] #75 closed, assigned to nobody

[2016-04-12 14:50] dragonmantank commented on #61
Replaced this with a Scotchbox-based basebox, so the auth bug should now be gone.

[2016-04-12 14:50] #61 closed, assigned to nobody

[2016-04-12 14:53] dragonmantank commented on #38
Removed it since we changed the basebox, and the new basebox doesn't have it installed. Progress!

[2016-04-12 14:53] #38 closed, assigned to nobody

[2016-04-12 20:03] dragonmantank commented on #73
For some reason the application refuses to see that the migrations have been run - it's complaining about a missing `timezone` field (which was added in the last deploy), but it exists in the table:

[code]

This doesn't happen on the new vagrant boxes, so I'll investigate further.

[2016-04-12 21:17] svpernova09 commented on #74
Email is now being sent via Sparkpost. We have daily limit of 10,000 emails and a monthly Limit of 100,000 before we are charged anything. I've added @dragonmantank as another admin on the account.

[2016-04-12 21:17] #74 closed, assigned to svpernova09

[2016-04-12 21:19] svpernova09 commented on #67
resolved via #74

[2016-04-12 21:19] #67 closed, assigned to nobody

[2016-04-12 21:33] dragonmantank commented on #73
And fixed.

The database migration was pointing to the wrong database.

[2016-04-12 21:33] #73 closed, assigned to nobody

[2016-04-12 22:47] svpernova09 commented on #59
IMHO it would be easier to use gravatar unless we don't mind storing the images. Maybe allow users to specify a gravatar email else use github?

[2016-04-12 23:22] svpernova09 commented on #53
Looks like changes have been merged? Is there still anything pending for this issue?

[2016-04-13 05:10] dragonmantank commented on #53
Nope, this should be closed. So closing!

[2016-04-13 05:10] #53 closed, assigned to nobody

[2016-04-13 05:11] #68 closed, assigned to nobody

[2016-04-13 05:14] dragonmantank commented on #71
Spent some time coming back from Lonestar and came up with this. Still needs some cleanup, but it's something better than what we have now:

![mentoring-1](https://cloud.githubusercontent.com/assets/108948/14483425/f1397058-0114-11e6-8ad9-0f16c4ca234a.png)

![mentoring-2](https://cloud.githubusercontent.com/assets/108948/14483428/f586581a-0114-11e6-8545-502342aef423.png)

![mentoring-3](https://cl

[2016-04-13 05:22] heiglandreas commented on #53
Thanks for closing!

[2016-04-13 14:57] jmichaelward commented on #71
I think this is related to #27 - is there any news on that ticket?

[2016-04-13 15:04] dragonmantank commented on #71
Not on that ticket. PRs never showed up :/

[2016-04-15 13:42] ericnkatz commented on #71
I want to comment that I'm still alive and have just been busy but if nothing is in this space by this Sunday  I'll do an update and a PR. Totally open to further alterations too.

[2016-04-15 13:44] ericnkatz commented on #71
And I just saw your screenshots up there @dragonmantank so I can maybe incorporate some of that into whatever I had going on my initial fork.

[2016-04-15 15:51] dragonmantank commented on #71
@ericnkatz Here's what I had so far, in case you want to take anything:

https://github.com/phpmentoring/webapp/tree/feature/visual-cleanup

[2016-05-09 13:21] petemcfarlane opened #79 "Timeout on messaging page"
There seems to be an issue if I don't submit a message in a certain time period. Several times I have been mid writing a message, and when I click Submit I'm redirected to my personal profile page and the message hasn't been sent. Sometimes I'm lucky and can rely on my browser to go back to the page and retrieve the contents, other times I've not immediately noticed and lost all the information I'

[2016-05-09 13:21] petemcfarlane opened #80 "Long email threads"
Firstly, this project is a great initiative and I have already gained a lot as a mentee and mentor. I have a couple of issues that I don't mind creating a PR for. My main bug-bear is the long email threads. After a couple of messages back and forth I have to do a lot of scrolling to get through to the most recent messages. This is particularly annoying on a mobile phone. A solution to this might b

[2016-06-09 14:32] svpernova09 opened #82 "Sending email may cause issues with SparkPost Slow responding"
Convo from IRC this morning:

[code]

We couldn't replicate it, but it's possibly caused by slow responses from SparkPost's API. Are we using any queue that we can drop the mail on instead of waiting for success from the API?

[2016-06-12 22:49] dragonmantank commented on #82
The app currently doesn't use a queue to send the e-mail messages, it's doing it through straight SMTP through SwiftMailer.

My guess is that CloudFlare is throwing the 504 as it's sitting in front of the website, and the SMTP connection is taking _just_ long enough sometimes to cause CloudFlare to think we've timed out. Since the process isn't actually dying the message is still sent (I've had th

[2016-06-20 00:48] elstamey opened #83 "Bug: Unable to Search Mentors"
On this page:  http://php-mentoring.org/mentors

This is happening:

![screen shot 2016-06-19 at 8 47 26 pm](https://cloud.githubusercontent.com/assets/4660760/16180867/1d25023e-365f-11e6-83c2-60c0e26c7cb9.png)

[2016-06-20 00:51] dragonmantank commented on #83
That normally flashes up on the page load, but then should load with the full mentor list once the API returns the list of mentors.

What browser and OS are you using?

[2016-08-02 00:45] elstamey commented on #83
Sorry I delayed in answering,  I think it was an issue with the API not loading the data, but it's definitely working now.

[2016-08-02 00:45] #83 closed, assigned to nobody

[2016-08-02 18:20] hteaemel opened #84 "Receiving "Whoops, looks like something went wrong." when sending messages."
When sending a message to someone I get the following error:

1/1
Swift_TransportException in AbstractSmtpTransport.php line 383:
Expected response code 250 but got code "550", with message "550 5.7.1 Unconfigured Sending Domain <gmail.com>
"
in AbstractSmtpTransport.php line 383
at Swift_Transport_AbstractSmtpTransport->_assertResponseCode('550 5.7.1 Unconfigured Sending Domain <gmail.com> ', arr

[2016-08-02 21:35] dragonmantank commented on #84
This should be corrected now, sorry. When we had to flip-flop the domains our e-mail sender was missing the new domain.

I'll leave this open in case you are still having problems, otherwise feel free to close it.

[2016-09-07 03:21] #84 closed, assigned to nobody

[2016-10-21 06:02] dragonmantank opened #85 "Upgrade to the newest League OAuth for Github"
Found out while working on the Sculpin blog stuff, but the version of League's OAuth needs to be updated. This will require some code changes as it's changed since the version 0.4 we've been using.

[2016-10-21 14:35] dragonmantank opened #86 "Remove `password` field for users"
In newer versions of MySQL (5.7 specifically), our blank `password` field on the `users` table causes problems during our insert. Since we don't store passwords anyway, we should remove this field.

Only critical once we decide to move off of MySQL 5.5, but should be done sooner rather than later.

[2016-10-21 14:37] dragonmantank opened #87 "Change data format of `timeCreated` on `users` table`"
We are currently using `\DateTime::ISO8601` to populate the `timeCreated` field for users. This needs to be changed to `Y-m-d H:i:s` format, as using the ISO format causes MySQL 5.7 to throw an error about a bad date format.

Only critical once we decide to upgrade from MySQL 5.5.

[2016-11-02 01:32] tomvisions commented on #70
Is this being worked on? I'm looking at what I could take on for my first task. And this does look a bit fun to do.

Please let me know. Thanks!

[2016-11-02 01:35] auroraeosrose commented on #70
@rocketpastsix are you actively hitting this? otherwise @tomvisions  is hired :)

[2016-11-02 01:58] matthewtrask commented on #70
@tomvisions can do it, Ive been busy with work, but Ill fins something else to tackle :)

[2016-11-02 02:14] tomvisions commented on #70
I've succesfully checked out the fork of the project from my github account. Not sure how to replicate the database though. Any particular files I should be looking at? Thanks!

[2016-11-02 13:59] dragonmantank opened #89 "Upgrade Silex to the latest version (2.x)"
We are using an older version of Silex. This should be updated, as the components have fallen quite far behind.

[2016-11-02 14:07] dragonmantank opened #90 "Consolidate features into better namespaces"
Right now, due to the nature of just getting the app out, we've got `Command`, `Controller`, and `ServiceProvider` in the main `Mentoring` namespace. I'd like to move these into the respective modules we've built, so that we have something like `Mentoring\Account\Controller`.

[2016-11-02 15:54] christickner commented on #89
Are you working on this already @dragonmantank ? I could take a stab if not.

[2016-11-02 15:55] dragonmantank commented on #89
Yup, started it last night. Trying to integrate new things lead me to finally biting the bullet and doing it :/

[2016-11-02 15:56] christickner commented on #89
Ok cool. I'll hop onto some of the older issues.

[2016-11-02 18:04] christickner commented on #70
What do you mean by "replicate the database"? If you mean a copy of the production database, I don't think that is necessary. You can use a local database and create a profile to see what a profile looks like currently.

[2016-11-02 18:11] dragonmantank commented on #70
Hi Tom!

Please make sure to follow the directions in the README.md file. It will have instructions for setting up the project in both Vagrant and locally (docker will probably be coming soon), and part of that is running a series of commands for `phinx`, our database migration software.

Specifically it's steps 6, 7, 8 under either setup.

[2016-11-02 18:13] dragonmantank commented on #85
Blocked as part of the Silex upgrade, #89

[2016-11-02 18:14] dragonmantank commented on #22
Blocking until #89 is finished

[2016-11-02 18:15] dragonmantank commented on #90
Blocking until #89 is finished

[2016-11-03 15:46] dragonmantank opened #92 "Upgrade to PHP 5.6"

[2016-11-03 17:09] dragonmantank opened #94 "Add docker-compose file to allow easier Docker development"
We currently support local development as well as a Vagrant box, we should add Docker support as well.

Blocking until #89 and #92 are finished.

[2016-11-05 11:08] gabidavila opened #95 "Show mentor spoken languages to profile"
I think this is a good idea for those who want to have a mentor but not necessarily speaks english thus other people can get help even if they are using the translated version of the website (Google/Bing Translator).

[2016-11-07 20:28] dragonmantank commented on #95
👍 to this idea.

We already show the time zones, this is another great idea to add.

[2016-11-07 20:28] dragonmantank commented on #92
Servers were upgraded to PHP 5.6

[2016-11-07 20:28] #92 closed, assigned to nobody

[2016-11-07 20:48] gabidavila commented on #95
OK, I am gonna tackle it :)

[2016-11-09 04:42] dragonmantank commented on #85
This was done as part of #89, we are now on:

[code]

[2016-11-09 04:42] #85 closed, assigned to dragonmantank

[2016-11-23 04:19] dragonmantank commented on #66
This was randomized with #77, so closing

[2016-11-23 04:19] #66 closed, assigned to nobody

[2016-11-23 04:20] dragonmantank commented on #89
#93 was merged and deployed to Production. Closing!

[2016-11-23 04:20] #89 closed, assigned to dragonmantank

[2016-11-23 04:30] dragonmantank commented on #90
#97 was merged in, closing

[2016-11-23 04:30] #90 closed, assigned to dragonmantank

[2016-11-23 04:33] dragonmantank commented on #95
Just as a heads up, the `src/` directory has undergone a renovation, so a bunch of things (like stuff relating to the Profile forms) are under new namespaces.  Profile form stuff is now under `Mentoring\Account\Form`.

[2017-01-19 00:38] gabidavila commented on #95
@dragonmantank I was thinking about adding it as a text optional field. However after coding it, I thought about storing as we store the tags.

If this way is acceptable the feature is complete (the optional text field) if it should have the same behaviour as tags I need to implement it. Please let me know your opinion.

Link for my [branch](https://github.com/gabidavila/phpmentoring-webapp/commit

[2017-01-23 04:46] dragonmantank commented on #95
Been thinking this over, and doing it like the tags is probably the better way. It will make searching and auto-completion easier in the future when we enhance the mentor search page.

[2017-01-23 04:47] gabidavila commented on #95
Ok, sgtm :)

[2017-01-24 03:57] jmichaelward commented on #94
Hey @dragonmantank - just poking my head into this project, seeing where things are at. It looks like #89 and #92 were completed, so is this still blocked?

[2017-01-24 05:01] jmichaelward opened #100 ""Find an apprentice" link in Inbox leads to page that indicates mentors cannot be found."
I haven't been 'round these parts in awhile, but I understand the "Search Apprentices" functionality has been removed since last I peeked at this repo.

On http://php-mentoring.org, after I log in, I'm given the option to view my inbox. On the inbox page, there is another call to action to "find an apprentice." Clicking on that link takes me to the search page.

The search page has some items mark

[2017-01-24 05:02] jmichaelward commented on #100
<img width="1327" alt="screen shot 2017-01-23 at 10 55 23 pm" src="https://cloud.githubusercontent.com/assets/1407326/22234724/f0e14108-e1bf-11e6-83fa-586d8b9664bd.png">

Screenshot attached.

[2017-01-24 17:24] dragonmantank commented on #94
Nope, unblocked now.

[2017-01-24 17:26] dragonmantank commented on #100
The feature was planned but never fully finished, so we removed the links as it was built in tandem with the mentor search.

Can you send a screenshot of where the link is?

[2017-02-04 01:01] sprunka commented on #100
![screenshot from 2017-02-03 20 00 39](https://cloud.githubusercontent.com/assets/810961/22614047/9b7e5ce8-ea4b-11e6-998d-1ad515f6a8f1.png)

[2017-02-04 01:07] sprunka commented on #100
To be clear, the fix for this bug is removing the link... only? or is there some code that should be refactored away as well? I'll claim this bug either way...

[2017-02-04 01:32] sprunka commented on #100
Resolved with PR #101

[2017-02-04 01:54] sprunka opened #102 "Glitch in "Fork Me on GitHub" ribbon (only on Guidelines page)"
Tested in Linux Mint on Google Chrome and Firefox only at this point. Screenshot below (Chrome, but Firefox looks the same.)

![forkmeribbonglitch](https://cloud.githubusercontent.com/assets/810961/22614617/81771608-ea52-11e6-9100-8fb13579e5ae.png)

[2017-02-04 02:11] sprunka commented on #87
This is also used in the ConversationRepository for conversation 'started_at' will it need to be changed there aswell?

[2017-02-06 15:37] dragonmantank commented on #87
Yes. Anywhere we are using that will need to be changed since MySQL will throw up there too. I had just noticed it on the Users table.

[2017-02-06 15:39] dragonmantank commented on #100
That explains why I couldn't see it, I had conversations.

PR was merged. Thanks!

[2017-02-06 15:39] #100 closed, assigned to nobody

[2017-02-06 22:08] matthewtrask commented on #4
Is this still an open issue?

[2017-02-06 22:26] matthewtrask commented on #21
@dragonmantank is this still a thing?

[2017-02-07 04:09] dragonmantank commented on #21
Yes, I think so. We've also got #95 (Languages). Timezone (already implemented), and #20 / #55 (Location) that are good pivot points for searching.

[2017-02-07 04:10] matthewtrask commented on #21
Yes it is as in its still open, or there is enough points to search by?

[2017-02-07 04:13] dragonmantank commented on #4
Maybe. On one hand it's useful to see if someone already has a bunch of apprentices before contacting them, but at the same time we've implemented the ability to let mentors remove themselves from the search if they don't want to take on more apprentices.

[2017-02-07 04:18] dragonmantank commented on #21
Yes in that it's a useful metric to search by :)

It doesn't currently have any code to support it though. The users will need a new form element to add in their user group, the API updated to be able to search by it, and the UI updated to allow for the searching.

[2017-02-07 04:18] matthewtrask commented on #21
ok then ill take care of it.

[2017-02-26 20:10] gabidavila commented on #7
I can confirm this bug is still happening.

[code]

Also a script should be run on the `userTags` table later to clean the assignment of empty tags to the users.

[2017-03-02 17:17] gabidavila commented on #87
I can work on that.

Other changes needs to be made on the tables too, such as NOT NULL fields being filled up empty because we are not validating it on the code.

Also, @dragonmantank can you confirm to me what the production charset for the database and following tables are? We are running on MySQL 5.5, the default is latin1, just so I can test correctly here.

[2017-05-31 14:27] matthewtrask opened #104 "Add IRC nick to profile"
Since we are still primarily on IRC for a mode of communication it would be good to have mentors and mentees add their IRC nicks to their profiles so each other can be found on #phpmentoring.

[2017-05-31 14:28] ragnaro89 commented on #87
Is this still an issue? If so I can tackle this one :)

[2017-05-31 15:12] geggleto opened #105 "Email Notifications Not Working"
Hello,

I have not received a notification email since 2016-12-06 despite receiving 3 messages on the php-mentoring website.

[2017-05-31 15:15] svpernova09 commented on #105
in the last 30 days we've sent 33 emails through the sparkpost account. I think @dragonmantank would have to check to ensure the config hasn't changed. He and I have access to the Sparkpost account we're using.

[2017-05-31 15:32] dragonmantank commented on #105
Did a test message to @svpernova09 which seems to have gone through, and confirmed on Spark that messages are flowing out.

My guess is they got gobbled up by a SPAM filter. Google especially likes to do that every so often, no matter how much we try and be good mail senders.

[2017-05-31 15:32] #105 closed, assigned to nobody

[2017-05-31 15:51] dragonmantank commented on #87
@ragnaro89 Yes, it should still be an issue. Feel free to make the changes and send in a PR :)

[2017-09-14 15:24] sukima commented on #100
@dcousineau [The Wiki - How-To page](https://github.com/phpmentoring/phpmentoring.github.com/wiki/HOWTO) also points to the incorrect link:

![phpscreenshot](https://user-images.githubusercontent.com/70075/30438427-35741ade-993f-11e7-9d11-997e9e841695.png)

[2017-09-14 15:31] dragonmantank commented on #100
Thanks for noticing this. That link has been removed from the wiki :)

[2017-10-04 00:34] #95 closed, assigned to nobody

[2018-03-22 19:28] MrChozo opened #106 "Update repo description URL"
An easy one. The URL http://dev.app.phpmentoring.org/ is no longer working, but the repo's description still has it. Please update to http://php-mentoring.org/.

![capture](https://user-images.githubusercontent.com/11303817/37793644-7e71004a-2dcc-11e8-8e8d-03e96a13a990.PNG)

[2018-03-23 01:56] svpernova09 commented on #106
Thanks! Done

[2018-03-23 01:56] #106 closed, assigned to nobody

[2018-03-23 03:14] #94 closed, assigned to nobody

[2018-03-23 23:17] MrChozo commented on #102
I'm also seeing this on the Guidelines page. It's strange, because the [default layout](https://github.com/phpmentoring/webapp/blob/master/views/layouts/default.twig) shows the ribbon code as this:
![capture](https://user-images.githubusercontent.com/11303817/37857053-57fd5a96-2eb5-11e8-909f-2eaadb4c4e1d.PNG)

But the actual code is akin to this, as if that anchor is being appended a number of tim

[2018-11-16 14:16] n3s7or opened #109 "Duplicate entry error"
I tried to add a duplicated tag :) to "what i want to learn" and I got an error saying:

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '1294-1538' for key 'user_id'

[2021-04-27 20:19] fridde opened #110 "Website dead?"
Visiting php-mentoring.org currently throws a 404.

Could someone with server privileges (after verifying) either have a look or alternatively mark this project as abandoned?

[2021-04-29 17:14] dragonmantank commented on #110
Sorry about that, a misconfiguration on a load balancer messed up the routing. This should be fixed!

[2021-04-29 17:14] #110 closed, assigned to nobody